/* Colors
----------------------------------------------------------------------- */

// Colors Default
$silver:            #E8E8E8;
$concrete:          #7F7F7F;
$danger:            #FF305B;

$dark:              #201F24;
$light:             lighten($silver, 50%);
