/* Navbar
----------------------------------------------------------------------- */

nav
{
    @extend #ABSOLUTE;
    margin-top: 55px;

    h1
    {
        width: 32px;   height: 25px;
        background: url(../../dist/img/ux-logo.png) no-repeat 0 0;
        margin-bottom: 30px;

        a
        {
            @extend #LEFT, #NO-UNDERLINE;
            height: 25px;   line-height: 25px;
            margin-left: 42px;
            font-weight: lighter;   font-size: 0.87rem;
            color: $light;
        }

        &:hover
        {
            background-position: 0 -50px;

            a
            {
                @extend #ANIMATE;
                color: $danger;
            }
        }
    }

    ul.nav
    {
        width: 100px;

        li
        {
            width: $percentage;
            line-height: 25px;

            a
            {
                color: $light;
                font-size: 0.87rem;
                font-weight: lighter;
            }

            a:hover,
            a.active
            { color: $danger; }
        }
    }
}