/* Header
----------------------------------------------------------------------- */

header
{
    @extend #FIXED;
    @include space;
    width: $percentage; height: 35px;
    background: $silver;
    padding: 0 20px;
    line-height: 35px;
    z-index: 1;

    ul li,
    ul li a
    {
        color: $concrete;
        font-size: 0.75rem;

        a:hover
        { color: $danger; }
    }

    /* ContactNav */
    @import "../contact/contactnav";

    /* ContactNav */
    @import "../social/socialnav";
}