/* Aside
----------------------------------------------------------------------- */

aside, article, section, .full-opacity
{ @include default; }

aside
{
    padding-top: 35px;

    article
    {
        @extend #OVERFLOW;

        section
        {
            @extend #LEFT;

            .full-opacity
            { background: rgba(44,62,80,0.8); }

            .full-opacity, .full-content
            { padding: 90px 180px; }
        }

        section.home
        {
            background: url(../../dist/img/bg/parallax.jpg) no-repeat center center;
            @include cover;
        }

        section.about,
        section.company
        {
            background: $dark;
        }

        section.data
        {
            background: url(../../dist/img/bg/slider_1.jpg) no-repeat center center;
            @include cover;
        }

        section.portfolio
        {
            background: $silver;
        }

        section.contact
        {
            background: url(../../dist/img/bg/home_snapshot_intro.jpg) no-repeat center center;
            @include cover;
        }
    }
}