@import "general";

html, body, #root, .content
{
    @include default;
    @extend #HIDDEN;
}

body
{
    background: $light;

    header, footer
    {
        width: $percentage; height: 35px;
        background: $silver;
        line-height: 35px;
    }

    /* Header */
    @import "../include/header/header";

    /* Aside */
    @import "../include/aside/aside";

    /* Footer */
    @import "../include/footer/footer";

    ul
    {
        @extend #NO-LIST;
        @include space;

        li { @extend #LEFT; }

        li a { @extend #NO-UNDERLINE; }
    }
}